[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
matplotlib = "*"
numpy = "*"
torchvision = "*"
tqdm = "*"
wandb = "*"
Pillow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
